@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f7f5f0;
  --foreground: #1a1a2e;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
